<!DOCTYPE html>

{% extends "master.html" %}
{% load cache %}

{% block title %}
	<div class="index">
	<title>Brand listing</title>
	<h1>partner brands </h1>
	</div>
{% endblock %}

{% block content %} 
	{% if brand_list %}
	<div class="new_line">
	<table>
	    {% for brand in brand_list %}
		{% with name=brand.brand_name pic=brand.picture.url country=brand.country%}
	    <tr>
	        <td> {{ name }}</td>
	        <td><img src="{{pic}}" class="img-responsive" style="width: 15%; float: left; margin-right: 15px;"></td>
	        </img>
	        <td> {{ country }}</td>
	    </tr>
		{% endwith %}
	    {% endfor %}
	</table>
	</div>
	{% else %}
	    <p>No brands are available.</p>
	{% endif %}
 {% endblock %}