{% load static %}

{% for item in basket %}
        <div class="basket_record", id="{{ item.id }}">
            <span class="product_name"><a href="/{{ item.id }}/">{{ item.name }}
                {% if item.image %}
                    <img src= " {{ item.image }}"class="img-responsive" style="width: 20%; float: left; margin-right: 15px;"></img>
                {% else %}
                    <img src= "{% static "img/no_image.jpg" %}"></img>
                {% endif %}
                </a></span>
            <span class="category_name">{{ item.usage }}</span> 
            <input name="{{ product.id }}"type="number" class="form-control"
                                value="{{ item.quantity }}" min="0">
            <span class="product_cost">{{ item.price }} $</span>
                <a class="remove_item" id="remove{{item.id}}" href="#" prod-id="{{ item.id }}">remove item</a>
        </div>
    
{% endfor %}

<script type="text/javascript">
    $('.remove_item').click(function(){
    var product_id;
    product_id = $(this).attr("prod-id");
    $.ajax(
    {
        type:"POST",
        url: "/cart_remove",
        data:{
            product_id: product_id
        },
        success: function( data ) 
        {
            location.reload();
        }
     })
});
</script>

<div class="basket_summary">
    items in total {{ basket.get_total_quantity }}
    {{ basket.get_total_price }} $
</div>