<!DOCTYPE html>
{% extends "master.html" %}
{% load static %}

{% block title %}
	<div class="index">
	<title>ShinTek storefront</title>
	<h1> Welcome to ShinTek </h1>
	<p>The best weapons and cybertech reseller in NeoTokyo </p>
	<p>We currently have these products avalible:</p>
	</div>
{% endblock %}

{% block content %} 
	<div class="new_line">
    {{ search_form }}
    {% csrf_token %}
    <form class="SearchForm" method="GET" action="{% url 'mainapp:search'%}" >
    <input class="SearchForm" type="search" name="search"> 
    <button class="SearchForm" type="submit"> Search </button>
</form></div>
	{% if products %}
	<ul>
	<div class="new_line">
	<table>
	    {% for product in page_obj  %}
	    <tr>
	        <td><a href="/frontpage/{{ product.ID }}/">{{ product.Name }}</a></td>
	        <td><img src="{{product.Picture.url}}" class="img-responsive" style="width: 15%; "></td>
	        </img>
	        <td> {{ product.Usage }}</td>
	        <td> {{ product.brand }}</td>
	        <td> {{ product.Price }} ed</td>
	    </tr>
	    {% endfor %}
	</table>
	</div>
		<div class="new_line">
	    {% if page_obj.paginator.num_pages > 1 %}
	    {% include '_pagination.html' with page_obj=page_obj %}
	    {% endif %}
	    </div>
	    </ul>
	{% else %}
	    <p>No products are available.</p>
	{% endif %}
 {% endblock %}
</body>