<!DOCTYPE html>

{% extends "master.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<script src="https://vk.com/js/api/openapi.js?168" type="text/javascript"></script>
      <h1>Login here :</h1>
<form method="post" action="{% url 'mainapp:login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
          <button class="btn btn-round form-control">
          <a href="{% url 'social:begin' 'google-oauth2' %}">
        google+ Login
      </a>
      </button>
      <button class="btn btn-round form-control">
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
     Login with VK
    </a>
    </button>
<input type="submit" name="" value="Login">
</form>
</div>
  </div>
{% endblock %}